<link rel="stylesheet" href="/css/player.css">
<div id="wenkmPlayer">
    <div class="player">
        <div class="infos">
            <div class="songstyle">
                <i class="fa fa-music"></i>
                <span class="song"></span>
            </div>
            <div class="timestyle">
                <i class="fa fa-clock-o"></i>
                <span class="time">00:00 / 00:00</span>
            </div>
            <div class="artiststyle">
                <i class="fa fa-user"></i>
                <span class="artist"></span>
                <span class="moshi">
                    <i class="loop fa fa-retweet current"></i> 顺序播放</span>
            </div>
            <div class="artiststyle">
                <i class="fa fa-folder"></i>
                <span class="artist1"></span>
                <span class="geci"></span>
            </div>
        </div>
        <div class="control">
            <i class="loop fa fa-retweet current" title="顺序播放"></i>
            <i class="prev fa fa-backward" title="上一首"></i>
            <div class="status">
                <b>
                    <i class="play fa fa-play" title="播放"></i>
                    <i class="pause fa fa-pause" title="暂停"></i>
                </b>
            </div>
            <i class="next fa fa-forward" title="下一首"></i>
            <i class="random fa fa-random " title="随机播放"></i>
        </div>
        <div class="musicbottom">
            <div class="volumecontrol">
                <div class="volume fa fa-volume-down"></div>
                <div class="volumeprogress">
                    <div class="progressbg">
                        <div class="progressbg1" style="height: 19px;"></div>
                        <div class="ts" style="top: 81px;"></div>
                    </div>
                </div>
            </div>
            <div class="playprogress">
                <div class="progressbg">
                    <div class="progressbg1"></div>
                    <div class="progressbg2"></div>
                    <div class="ts"></div>
                </div>
            </div>
            <div class="switch-playlist">
                <i class="fa fa-bars" title="播放列表"></i>
            </div>
            <div class="switch-ksclrc">
                <i class="fa fa-toggle-on" title="关闭歌词"></i>
            </div>
            <div class="switch-default">
                <i class="fa fa-refresh" title="切换默认专辑"></i>
            </div>
            <div class="switch-down">
                <a class="down">
                    <i class="fa fa-cloud-download" title="歌曲下载"></i>
                </a>
            </div>
        </div>
        <div class="cover"></div>
    </div>
    <div class="playlist">
        <div class="playlist-bd">
            <div class="album-list">
                <div class="musicheader"></div>
                <div class="list"></div>
            </div>
            <div class="song-list">
                <div class="musicheader">
                    <i class="fa fa-angle-right"></i>
                    <span></span>
                </div>
                <div class="list">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="switch-player">
        <i class="fa fa-angle-right" style="margin-top: 20px;"></i>
    </div>
</div>
<div id="wenkmTips"></div>
<div id="wenkmLrc"></div>
<div id="wenkmKsc"></div>
<!-- <div class="myhk_pjax_loading_frame"></div> -->
<!-- <div class="myhk_pjax_loading"></div> -->
<script type="text/javascript">
    cdn = "close";
    list = "close";
    auto = "close";
    zdy = "close";
    random = "close";
    domain = "lcy.moe";
    home = "player";
    geci = "open";
    jiyi = "open";
    welcome = "open";
    vol = "50";
    album = "2";
    tips = "这里是蓝冰记忆~";
    name = "蓝冰记忆~专辑列表";
    power = "open";
    setTimeout(function () {
        $player.toggleClass("show")
    }, 5000);
</script>
<script defer src="https://player.limh.me/player/mousewheel.js" type="text/javascript"></script>
<script defer src="https://player.limh.me/player/scrollbar.js" type="text/javascript"></script>
<script defer src="https://player.limh.me/player/player180216.js?v=1" type="text/javascript"></script>