# Global
site_analytics: 
hoster: <a href="https://github.io" target="_blank">Github Pages</a>
site_logo:
snow: false
enableDark: true
cdn: false
indexPostType: false

# Top Menu
menu:
  index: /
  archives: /archives/
  sites:
    submenu: true
    author: https://candinya.com
    project: https://github.com/Candinya/Kratos-Rebirth

label:
  index: <i class="fa fa-home"></i>首页
  archives: <i class="fa fa-file"></i>档案馆
  sites:
    submenu: <i class="fa fa-link"></i>链接
    author: 作者博客
    project: 项目链接

# Footer
group_link: 
contact:
  weibo: 
  mail: 
  telegram: CandyUnion
  twitter: Candiinya
  facebook: 
  linkedin: 
  fediverse:
    instance: 
    username: 
  github: Candinya
  rss:
timenotice: 本站已运行
icp: 
psr:
  
# Post Page
posts:
  show_cc: true
  donate: false
  share: true
  comments:

# Disqus
disqus:
  shortname: 

# DisqusJS
disqusjs:
  shortname: 
  sitename: 
  api: 
  apikey: 
  admin: 
  adminlabel: 

# Valine
valine:
  app_id: 
  app_key: 
  visitor: true

# APlayer
aplayer:
  enabled: false
  playlist: 
  order: random

# Widgets
sidebar: right
widgets:
- about
- toc
- category
- tagcloud
- posts
avatarUri: /images/avatar.webp

# Fancybox
fancybox: true

# 搜索
search:
  enable: true
  path: search.json
  field: post # page | post | all. Default post
  content: true # Include post | page content

# JavaScript相关的配置
# 由于Javascript被压缩后难以有效编辑与生成，因而为了简化操作，将相关的配置项在生成文件时以独立的json文件写出，调用时使用fetch API获取。
jsconfig:
  main:
    picCDN: false
    createTime: "1970-01-01 00:00:00"
    donateBtn: "支持我~"
    scanNotice: "扫一扫，好不好？"
    qr_alipay: "/images/alipayqr.webp"
    qr_wechat: "/images/wechatpayqr.webp"
    siteLeaveEvent: false
    leaveTitle: "{{{(>_<)}}}哦哟，崩溃啦~"
    returnTitle: "(*´∇｀*)欸，又好啦~"
    copyrightNotice: "该内容采用 CC BY-NC-SA 4.0 许可协议，著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。"

# Site verify related
site_verify:
  google: 
  baidu: 
  bing: 
