# Global
site_analytics: 
hoster: <a href="https://github.io" target="_blank">Github Pages</a>
site_logo: /images/favicon.png
snow: false

# Top Menu
menu:
  index: /
  archives: /archives/
  friends: /friends/
  about: /about/
  tools:
    submenu: true
    candifonts: https://fonts.candys.dev
    candidenty: https://id.candys.dev
  sites:
    submenu: true
    oldapi: https://old-api.lcy.moe
    newapi: https://api.lcy.moe

label:
  index: <i class="fa fa-home"></i>&nbsp;首页
  archives: <i class="fa fa-file"></i>&nbsp;档案馆
  friends: <i class="fa fa-mars-double"></i>&nbsp;后宫团
  about: <i class="fa fa-rocket"></i>&nbsp;关于我
  tools:
    submenu: <i class="fa fa-flask"></i>&nbsp;实验室
    candifonts: 缤纷字生成
    candidenty: 身份证工具
  sites:
    submenu: <i class="fa fa-link"></i>&nbsp;小小站
    oldapi: 过气的老API
    newapi: 新API(建设中)

# Footer
qqg_link: 
contact:
  weibo: 
  tweibo: 
  mail: 
  twitter: 
  facebook: 
  linkedin: 
  github: 
  rss: atom.xml
  
# Post Page
posts:
  show_cc: true
  donate: false
  share: true
  comments: disqusjs

# Disqus
disqus:
  shortname: 

# DisqusJS
disqusjs:
  shortname: 
  sitename: 
  api: 
  apikey: 
  admin: 
  adminlabel: 

# APlayer
aplayer:
  enabled: true
  playlist: 
  order: random

# Widgets
sidebar: right
widgets:
- about
- category
- tagcloud
- posts
avatarUri: /images/avatar.png

# Code Highlight Themes: normal | night | night eighties | night blue | night bright
highlight_theme: night eighties

# Fancybox
fancybox: true