<aside id="kratos_about-2" class="widget widget_kratos_about clearfix">
    <div class="photo-background">
        <div class="photo-background" style="background:url(/images/about.jpg) no-repeat center center;-webkit-background-size:cover;background-size:cover"></div>
    </div>
    <div class="photo-wrapper clearfix">
        <div class="photo-wrapper-tip text-center">
            <a href="/about/" rel="nofollow"><img class="about-photo" src="/images/photo.jpg" alt=""/></a>
        </div>
    </div>
    <div class="textwidget">
        <p class="text-center"><%- config.description %></p>
    </div>
</aside>