<aside id="krw-about" class="widget kratos-widget-about clearfix">
    <div class="photo-background"></div>
    <div class="photo-wrapper clearfix">
        <div class="photo-wrapper-tip text-center">
            <img class="about-photo" src="<%= theme.avatarUri %>" />
        </div>
    </div>
    <div class="textwidget">
        <p class="text-center"><%- config.description %></p>
    </div>
</aside>