<% if (site.categories.length){ %>
  <aside id="krw-categories" class="widget widget-kratos-categories clearfix">
    <h4 class="widget-title"><i class="fa fa-folder"></i><%- __('categories') %></h4>
      <%- list_categories({show_count: true}) %>
  </aside>
<% } %>
