<% if (site.categories.length){ %>
  <aside id="krw-categories" class="widget widget-categories clearfix">
    <h4 class="widget-title"><%= __('categories') %></h4>
      <%- list_categories({show_count: true}) %>
  </aside>
<% } %>
