<% if (site.categories.length){ %>
  <aside id="categories-2" class="widget widget_categories clearfix">
    <h4 class="widget-title"><%= __('categories') %></h4>
      <%- list_categories({show_count: true}) %>
  </aside>
<% } %>
