<% if (site.tags.length){ %>
  <aside id="krw-tags" class="widget widget-kratos-tags clearfix">
    <h4 class="widget-title"><i class="fa fa-tags"></i><%- __('tagcloud') %></h4>
      <div class="tag-clouds">
        <%- tagcloud({
          min_font: .6, 
          max_font: .8,
          unit: 'em',
          amount: 18
      }) %>
      </div>
  </aside>
<% } %>