<% if (site.tags.length){ %>
  <aside id="kratos_tags-2" class="widget widget_kratos_tags clearfix">
    <h4 class="widget-title"><%= __('tagcloud') %></h4>
      <div class="tag_clouds">
        <%- tagcloud({
          min_font: .6, 
          max_font: .8,
          unit: 'em',
          amount: 18
      }) %>
      </div>
  </aside>
<% } %>