li,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.ts5 {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s
}

#wenkmPlayer {
    margin: 0;
    font: small 'Microsoft Yahei';
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    left: -365px;
    text-align: left;
    color: #38343e;
    width: 365px;
    position: fixed;
    bottom: 40px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 5000
}

#wenkmPlayer .player {
    position: relative;
    overflow: hidden;
    text-shadow: none;
    background-color: rgba(0, 0, 0, .1);
    height: 180px;
    border-radius: 5px 5px 0 0
}

#wenkmPlayer .player .cover {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    background-color: #fff;
    border: 5px #fff solid;
    width: 110px;
    height: 110px;
    top: 20px;
    left: 125px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3)
}

#wenkmPlayer .player .cover:after {
    content: 'Limh.Me';
    position: absolute;
    opacity: .5;
    width: 100%;
    left: 0;
    text-align: center;
    top: 45px
}

#wenkmPlayer .player .cover.changing img {
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
    opacity: 0
}

#wenkmPlayer .player .cover img {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    border-radius: 50%;
    border: 5px #fff solid;
    width: 113px;
    height: 113px;
    top: -5px;
    left: -5px;
    position: relative;
    z-index: 10;
    max-width: 113px
}

#wenkmPlayer .player .infos {
    position: absolute;
    top: 15px;
    left: 10px;
    color: #fff
}

#wenkmPlayer .player .infos a {
    color: #fff
}

#wenkmPlayer .player .infos a:hover {
    color: #0c0
}

#wenkmPlayer .player .infos .artiststyle {
    margin-top: 15px
}

#wenkmPlayer .player .infos .moshi {
    float: right
}

#wenkmPlayer .player .infos .geci {
    float: right
}

#wenkmPlayer .player .infos .timestyle {
    font-size: 12px;
    margin-left: 255px;
    margin-top: -20px
}

#wenkmPlayer .player .control {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    bottom: -110px;
    left: 10px;
    text-shadow: none;
    position: relative;
    z-index: 99999;
    font-size: 1.8em;
    color: #fff
}

#wenkmPlayer .player .control .loop,
#wenkmPlayer .player .control .next,
#wenkmPlayer .player .control .prev,
#wenkmPlayer .player .control .random,
#wenkmPlayer .player .control .status {
    box-sizing: initial;
    left: 10px;
    margin-right: 26px;
    cursor: pointer
}

#wenkmPlayer .player .control i.current {
    color: #81c300
}

#wenkmPlayer .player .control .next {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 80px
}

#wenkmPlayer .player .control .next:hover {
    color: #81c300
}

#wenkmPlayer .player .control .loop:hover {
    color: #81c300
}

#wenkmPlayer .player .control .prev:hover {
    color: #81c300
}

#wenkmPlayer .player .control .random {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 80px
}

#wenkmPlayer .player .control .random:hover {
    color: #81c300
}

#wenkmPlayer .player .control .status {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    bottom: 54px;
    left: 40px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #81c300;
    background-image: linear-gradient(90deg, #6c6971 50%, transparent 50%, transparent), linear-gradient(90deg, #81c300 50%, #6c6971 50%, #6c6971)
}

#wenkmPlayer .player .control .status b {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    border: solid #f30 2px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #2c2a30;
    display: inline-block;
    overflow: hidden;
    box-sizing: initial
}

#wenkmPlayer .player .control .status b .fa {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px
}

#wenkmPlayer .player .control .status b .fa:hover {
    color: #f30
}

#wenkmPlayer .player .control .status b .play {
    color: #f30;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s
}

#wenkmPlayer .player .control .status b .play:hover {
    color: #81c300
}

#wenkmPlayer .player .musicbottom {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    background-color: #fff;
    text-shadow: none;
    height: 25px;
    width: 100%;
    left: 0;
    bottom: 0;
    line-height: 25px
}

#wenkmPlayer .player .musicbottom .switch-playlist {
    position: absolute;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    top: 6px;
    line-height: 10px;
    right: 10px;
    cursor: pointer
}

#wenkmPlayer .player .musicbottom .switch-playlist:hover {
    color: #81c300
}

#wenkmPlayer .player .musicbottom .switch-ksclrc {
    position: absolute;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    top: 6px;
    line-height: 10px;
    right: 35px;
    font-size: 1.2em;
    cursor: pointer
}

#wenkmPlayer .player .musicbottom .switch-ksclrc:hover {
    color: #81c300
}

#wenkmPlayer .player .musicbottom .switch-default {
    position: absolute;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    top: 6px;
    line-height: 10px;
    right: 95px;
    font-size: 1.1em;
    display: none;
    cursor: pointer
}

#wenkmPlayer .player .musicbottom .switch-default:hover {
    color: #81c300
}

#wenkmPlayer .player .musicbottom .switch-down {
    position: absolute;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    top: 6px;
    line-height: 10px;
    right: 65px;
    font-size: 1.2em;
    display: none;
    cursor: pointer
}

#wenkmPlayer .player .musicbottom .switch-down .fa {
    color: #38343e
}

#wenkmPlayer .player .musicbottom .switch-down .fa:hover {
    color: #81c300
}

#wenkmPlayer .playlist {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    color: #fff;
    height: 0;
    overflow: hidden;
    text-shadow: none;
    border-top: solid #ebebeb 1px
}

#wenkmPlayer .playlist .playlist-bd {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    width: 800px
}

#wenkmPlayer .playlist .album-list {
    width: 400px;
    float: left
}

#wenkmPlayer .playlist .song-list {
    float: left
}

#wenkmPlayer .playlist .album-list .list,
#wenkmPlayer .playlist .album-list .musicheader {
    -webkit-transform: translate3d(-500px, 0, 0);
    -moz-transform: translate3d(-500px, 0, 0);
    -ms-transform: translate3d(-500px, 0, 0);
    transform: translate3d(-500px, 0, 0)
}

#wenkmPlayer .playlist .song-list .list {
    opacity: 0
}

#wenkmPlayer .playlist .musicheader {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    font-size: 1.2em;
    border-bottom: solid #eee 1px;
    padding: 10px 0 10px 10px;
    background-color: rgba(0, 0, 0, .1)
}

#wenkmPlayer .playlist .musicheader .fa-angle-right {
    opacity: .5;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    transition: .8s;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer
}

#wenkmPlayer .playlist .list {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 305px;
    width: 400px;
    weight: 100%;
    overflow: hidden;
    -webkit-transform-origin: 50% 100px;
    -moz-transform-origin: 50% 100px;
    -ms-transform-origin: 50% 100px;
    transform-origin: 50% 100px
}

#wenkmPlayer .playlist .list ul {
    margin-right: 15px
}

#wenkmPlayer .playlist .list li {
    overflow: hidden;
    width: calc(100%);
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    border-bottom: solid #eee 1px;
    background-color: rgba(0, 0, 0, .1)
}

#wenkmPlayer .playlist .list li:last-child {
    border-bottom: 0
}

#wenkmPlayer .playlist .list li:hover {
    background-color: rgba(129, 195, 0, .5)
}

#wenkmPlayer .playlist .list li.current {
    background: #81c300;
    text-shadow: none;
    color: #fff
}

#wenkmPlayer .playlist .list li.current .index {
    color: #fff
}

#wenkmPlayer .playlist .list li .index {
    opacity: .3;
    padding: 0 10px
}

#wenkmPlayer .playlist .list li .fa-angle-right {
    float: right;
    line-height: 30px;
    margin-right: 10px
}

#wenkmPlayer .playlist .list .mCSB_scrollTools {
    top: 0;
    right: 3px;
    cursor: pointer;
    width: 9px;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 9px;
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s
}

#wenkmPlayer .playlist .list .mCSB_draggerContainer {
    height: 100%
}

#wenkmPlayer .playlist .list .mCSB_dragger {
    background-color: #81c300;
    width: 9px;
    height: auto;
    border-radius: 9px;
    z-index: 999
}

#wenkmPlayer .playlist .list:hover {
    width: 365px
}

#wenkmPlayer .playlist .list:hover .mCSB_scrollTools {
    opacity: 1
}

#wenkmPlayer .flat {
    position: absolute;
    top: 70px;
    left: 185px;
    color: #fff;
    font-size: 1.4em;
    opacity: 0
}

#wenkmPlayer .switch-player {
    position: absolute;
    top: 10px;
    right: -25px;
    width: 25px;
    height: 68px;
    line-height: 68px;
    text-shadow: none;
    background-color: rgba(0, 255, 0, .6);
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

#wenkmPlayer .switch-player .fa {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    top: 50%
}

#wenkmPlayer .switch-player:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #f30
}

#wenkmPlayer.show {
    -webkit-transform: translate3d(365px, 0, 0);
    -moz-transform: translate3d(365px, 0, 0);
    -ms-transform: translate3d(365px, 0, 0);
    transform: translate3d(365px, 0, 0)
}

#wenkmPlayer.show .switch-player {
    background-color: rgba(0, 0, 0, .1);
    color: #f30
}

#wenkmPlayer.show .switch-player:hover {
    background-color: rgba(0, 255, 0, .6);
    color: #fff
}

#wenkmPlayer.show .switch-player .fa {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

#wenkmPlayer.showList .switch-playlist {
    color: #81c300
}

#wenkmPlayer.showList .playlist {
    height: 350px
}

#wenkmPlayer.showList .playlist .musicheader {
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wenkmPlayer.showList .playlist .list {
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wenkmPlayer.ksclrc .switch-ksclrc {
    color: #f30
}

#wenkmPlayer.showAlbumList .switch-playlist {
    color: #81c300
}

#wenkmPlayer.showAlbumList .playlist {
    height: 350px
}

#wenkmPlayer.showAlbumList .playlist .album-list .musicheader {
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wenkmPlayer.showAlbumList .playlist .album-list .list {
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wenkmPlayer.showSongList .playlist-bd {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0)
}

#wenkmPlayer.showSongList .playlist-bd .song-list .musicheader {
    cursor: pointer;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wenkmPlayer.showSongList .playlist-bd .song-list .musicheader:hover {
    background-color: rgba(129, 195, 0, .5)
}

#wenkmPlayer.showSongList .playlist-bd .song-list .musicheader .fa-angle-right {
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

#wenkmPlayer.showSongList .playlist-bd .song-list .list {
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wenkmPlayer.playing .player .control .status b {
    border-width: 0;
    top: 2px;
    left: 2px
}

#wenkmPlayer.playing .player .control .status b .play {
    margin-top: -40px
}

#wenkmPlayer.playing .flat {
    opacity: 1;
    -webkit-animation: rotate 18s linear infinite;
    -moz-animation: rotate 18s linear infinite;
    -ms-animation: rotate 18s linear infinite;
    animation: rotate 18s linear infinite
}

#wenkmPlayer.playing .flat i {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-animation: flat 4s cubic-bezier(.09, .64, .16, .94) infinite;
    -moz-animation: flat 4s cubic-bezier(.09, .64, .16, .94) infinite;
    -ms-animation: flat 4s cubic-bezier(.09, .64, .16, .94) infinite;
    animation: flat 4s cubic-bezier(.09, .64, .16, .94) infinite
}

#wenkmPlayer.playing .flat i:nth-of-type(1) {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -ms-animation-delay: 0;
    animation-delay: 0;
    -webkit-transform: rotate(35deg) translateX(-5px);
    -moz-transform: rotate(35deg) translateX(-5px);
    -ms-transform: rotate(35deg) translateX(-5px);
    transform: rotate(35deg) translateX(-5px)
}

#wenkmPlayer.playing .flat i:nth-of-type(2) {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    animation-delay: .8s;
    -webkit-transform: rotate(-5deg) translateX(-15px);
    -moz-transform: rotate(-5deg) translateX(-15px);
    -ms-transform: rotate(-5deg) translateX(-15px);
    transform: rotate(-5deg) translateX(-15px)
}

#wenkmPlayer.playing .flat i:nth-of-type(3) {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-transform: rotate(45deg) translateX(5px);
    -moz-transform: rotate(45deg) translateX(5px);
    -ms-transform: rotate(45deg) translateX(5px);
    transform: rotate(45deg) translateX(5px)
}

#wenkmPlayer.playing .flat i:nth-of-type(4) {
    -webkit-animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;
    -ms-animation-delay: 2.8s;
    animation-delay: 2.8s;
    -webkit-transform: rotate(-25deg) translateX(-8px);
    -moz-transform: rotate(-25deg) translateX(-8px);
    -ms-transform: rotate(-25deg) translateX(-8px);
    transform: rotate(-25deg) translateX(-8px)
}

#wenkmPlayer.playing .flat i:nth-of-type(5) {
    -webkit-animation-delay: 3.2s;
    -moz-animation-delay: 3.2s;
    -ms-animation-delay: 3.2s;
    animation-delay: 3.2s;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg)
}

#wenkmPlayer.playing .flat i:nth-of-type(6) {
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    -ms-animation-delay: 4.5s;
    animation-delay: 4.5s;
    -webkit-transform: rotate(15deg) translateX(-5px);
    -moz-transform: rotate(15deg) translateX(-5px);
    -ms-transform: rotate(15deg) translateX(-5px);
    transform: rotate(15deg) translateX(-5px)
}

@-webkit-keyframes rotate {
    50% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg)
    }
}

@-moz-keyframes rotate {
    50% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg)
    }
}

@-ms-keyframes rotate {
    50% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg)
    }
}

@keyframes rotate {
    50% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg)
    }
}

@-webkit-keyframes flat {
    from {
        opacity: 1
    }
    to {
        top: -48px;
        left: 78px;
        opacity: 0;
        font-size: .6em
    }
}

@-moz-keyframes flat {
    from {
        opacity: 1
    }
    to {
        top: -48px;
        left: 78px;
        opacity: 0;
        font-size: .6em
    }
}

@-ms-keyframes flat {
    from {
        opacity: 1
    }
    to {
        top: -48px;
        left: 78px;
        opacity: 0;
        font-size: .6em
    }
}

@keyframes flat {
    from {
        opacity: 1
    }
    to {
        top: -48px;
        left: 78px;
        opacity: 0;
        font-size: .6em
    }
}

#wenkmTips {
    position: fixed;
    font-size: 1.4em;
    text-shadow: none;
    border-radius: 0 5px 5px 0;
    z-index: 5000;
    top: 10px;
    left: 0;
    background-color: rgba(0, 0, 0, .1);
    padding: 15px;
    color: #fff;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

#wenkmTips.show {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wenkmLrc {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    position: fixed;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #000;
    z-index: 4999;
    bottom: 0;
    left: 0;
    font-size: 1.2em;
    font-weight: 700;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, .1);
    overflow: hidden
}

#wenkmLrc ul {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s
}

#wenkmLrc li {
    opacity: .4;
    color: #000;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
}

#wenkmLrc li.current {
    opacity: .8;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

#wenkmLrc.show {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wenkmLrc.hide {
    -webkit-transform: translate3d(0, 200%, 0);
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0)
}

#wenkmLrc:hover {
    height: 120px
}

#wenkmLrc:hover ul {
    margin: 40px 0
}

#wenkmKsc {
    pointer-events: none;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    position: fixed;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    z-index: 4999;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, .1)
}

#wenkmKsc .line {
    position: absolute;
    font-size: 1.5em;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    opacity: 0;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    height: 40px;
    line-height: 40px;
    text-shadow: 1px 1px 1px #CCC, 2px 2px 2px #CCC, 3px 3px 3px #444
}

#wenkmKsc .line span {
    width: 30px;
    display: inline-block;
    overflow: hidden
}

#wenkmKsc .line span.blank {
    width: 40px
}

#wenkmKsc .line span em {
    font-weight: 700;
    font-style: normal;
    display: block;
    text-align: left
}

#wenkmKsc .line .bg {
    bottom: 0;
    left: 0;
    color: #fff
}

#wenkmKsc .line .lighter {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    color: #0c0;
    width: 100%;
    overflow: hidden
}

#wenkmKsc .line .lighter em {
    width: 0;
    overflow: hidden
}

#wenkmKsc .line.g .lighter {
    color: red
}

#wenkmKsc .line.t .lighter {
    color: #f0f
}

#wenkmKsc .line.m .lighter {
    color: #00f
}

#wenkmKsc .line.current {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible
}

#wenkmKsc .line1 {
    bottom: 0;
    text-align: left;
    right: 53%
}

#wenkmKsc .line2 {
    bottom: 0;
    text-align: left;
    left: 53%
}

#wenkmKsc.showPlayer {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wenkmKsc.hidePlayer {
    -webkit-transform: translate3d(0, 200%, 0);
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0)
}

.coverplay {
    -webkit-animation: myhk infinite 20s linear;
    animation: myhk infinite 20s linear
}

@keyframes myhk {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes myhk {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

#wenkmPlayer .status {
    opacity: .3;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    filter: alpha(opacity=30)
}

#wenkmPlayer:hover .status {
    opacity: 1;
    filter: alpha(opacity=100)
}

.myhk_pjax_loading_frame {
    position: fixed;
    top: 45%;
    left: 45%;
    display: none;
    z-index: 999999;
    width: 124px;
    height: 124px;
    background: url(pjax_loading.gif) 50% 50% no-repeat
}

.myhk_pjax_loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #4c4c4c;
    opacity: .3
}

#tooltip {
    position: absolute;
    z-index: 9999;
    display: none;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 3px;
    background-color: #0c0;
    color: #fff;
    text-align: center;
    font-size: 12px
}

#tooltip:before {
    position: absolute;
    top: -6px;
    left: 15px;
    width: 0;
    height: 0;
    border: 6px dashed #0c0;
    border-top: 0;
    color: #fff;
    content: ' ';
    line-height: 0;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent
}

.letterfx {
    display: inline-block;
    margin: 0;
    padding: 0;
    transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s
}

.letterfx-spin-before {
    transform: rotate(3600deg);
    -ms-transform: rotate(3600deg);
    -webkit-transform: rotate(3600deg)
}

.letterfx-spin-after {
    transform: none
}

.letterfx-fade-before {
    opacity: 0
}

.letterfx-grow-before {
    transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0)
}

.letterfx-grow-after {
    transform: none
}

.letterfx-smear-before {
    color: transparent;
    text-shadow: -1px -1px 25px transparent
}

.letterfx-smear-after {
    color: inherit;
    text-shadow: 0 0 #333
}

.letterfx-fall-before {
    visibility: hidden;
    transform: scale(3, 3);
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3)
}

.letterfx-fall-after {
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    text-shadow: 0
}

.letterfx-swirl-before {
    visibility: hidden;
    transform: scale(3, 3) rotate(3600deg);
    -ms-transform: scale(3, 3) rotate(3600deg);
    -webkit-transform: scale(3, 3) rotate(3600deg)
}

.letterfx-swirl-after {
    transform: none text-shadow:0
}

.letterfx-wave-container .letterfx {
    position: relative
}

.letterfx-wave-before {
    bottom: 0
}

.letterfx-wave-after {
    bottom: 15px
}

.letterfx-fly-bottom-container .letterfx,
.letterfx-fly-left-container .letterfx,
.letterfx-fly-right-container .letterfx,
.letterfx-fly-top-container .letterfx {
    position: relative
}

.letterfx-fly-left-before {
    left: -50em
}

.letterfx-fly-left-after {
    left: 0
}

.letterfx-fly-right-before {
    right: -50em
}

.letterfx-fly-right-after {
    right: 0
}

.letterfx-fly-top-before {
    top: -20em
}

.letterfx-fly-top-after {
    top: 0
}

.letterfx-fly-bottom-before {
    bottom: -20em
}

.letterfx-fly-bottom-after {
    bottom: 0
}

#wenkmPlayer .player .musicbottom .volumecontrol {
    font-size: 1.4em;
    cursor: pointer;
    z-index: 999999;
    position: absolute;
    left: 5px
}

#wenkmPlayer .player .musicbottom .volumeprogress {
    display: none;
    position: absolute;
    top: -120px;
    left: -5px;
    width: 26px;
    background: #f1f2f2;
    border-radius: 4px;
    cursor: pointer;
    height: 120px;
    padding: 10px 0 10px 0;
    -webkit-transition: .1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    -webkit-animation-name: fadeOut
}

#wenkmPlayer .player .musicbottom .volumecontrol:hover .volumeprogress,
#wenkmPlayer .player .musicbottom .volumeprogress:hover {
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s
}

#wenkmPlayer .player .musicbottom .volumeprogress .progressbg {
    cursor: pointer;
    width: 6px;
    height: 100px;
    margin: 0 auto;
    background-color: #b0aeb2;
    position: relative
}

#wenkmPlayer .player .musicbottom .volumeprogress .progressbg .progressbg1 {
    width: 6px;
    height: 100%;
    margin: 0 auto;
    background-color: #81C300;
    position: absolute;
    bottom: 0
}

#wenkmPlayer .player .musicbottom .volumeprogress .ts {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: -5px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    cursor: pointer;
    z-index: 2
}

#wenkmPlayer .player .musicbottom .playprogress {
    cursor: pointer;
    float: left;
    margin-left: 30px;
    width: calc(100% - 130px)
}

#wenkmPlayer .player .musicbottom .playprogress .progressbg {
    position: relative;
    width: 100%;
    top: 10.5px;
    height: 5px;
    background-color: #b0aeb2
}

#wenkmPlayer .player .musicbottom .playprogress .progressbg .progressbg1 {
    position: absolute;
    height: 5px;
    left: 0;
    top: 0;
    width: 0;
    background-color: #81c300;
    z-index: 2
}

#wenkmPlayer .player .musicbottom .playprogress .progressbg .progressbg2 {
    position: absolute;
    height: 5px;
    left: 0;
    top: 0;
    width: 0;
    background-color: #818680;
    z-index: 1
}

#wenkmPlayer .player .musicbottom .playprogress .progressbg .ts {
    width: 16px;
    height: 16px;
    position: absolute;
    top: -5.5px;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    z-index: 2
}