<div id="aplayer"></div>
<script>
$.ajax({
    type:"get",
    url:"<%- theme.aplayer.playlist %>",
    dataType:"json",
    success: function(data){
        new APlayer({
            container: document.getElementById('aplayer'),
            fixed: true,
            order: '<%- theme.aplayer.order %>',
            lrcType: 3,
            audio: data
        });
    }
});
</script>