// https://github.com/chriskempson/tomorrow-theme

@require "theme"

// Placeholder: $code-block
$code-block {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: $code-font-size;
  font-weight: unset;
  color: $highlight-foreground;
  background: $highlight-background;
}


.highlight {
  @extend $code-block;
  pre {
    border: none;
    margin: 0;
    padding: 10px 0;
    color: $highlight-foreground;
    background: none;
  }

  table {
    margin: 0;
    width: auto;
    border: none;
    border-spacing: unset;
    border-collapse: unset;
  }

  td {
    border: none;
    padding: 0;
  }

  .gutter pre {
    overflow: hidden
    padding-left: 10px
    padding-right: 10px
    color: $highlight-gutter.color
    text-align: right
    background-color: $highlight-gutter.bg-color
  }

  .code pre {
    overflow: hidden
    padding-left: 10px
    padding-right: 10px
    text-align: left
    background-color: $highlight-background
  }

}


.gist table {
  width: auto;
  td { border: none; }
}

// For diff highlight
pre .deletion { background: $highlight-deletion; }
pre .addition { background: $highlight-addition; }
pre .meta     { color: $highlight-purple; }

pre {
  .comment { color: $highlight-comment; }
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo {
    color: $highlight-red;
  }

  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
  .command {
    color: $highlight-orange;
  }

  .ruby .class .title
  .css .rules .attribute
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
  .special
  .number
  .formula {
    color: $highlight-green;
  }

  .title
  .css .hexcolor {
    color: $highlight-aqua;
  }

  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title {
    color: $highlight-blue;
  }

  .keyword
  .javascript .function {
    color: $highlight-purple;
  }

}
