<%- css_npm_cdn('gitment', 'style/default.css') %>
<div id="gitment-container" class="post-comments lazy-load<% if (theme.posts.comments?.enableBGImage) { %> bg-image<% } %>"></div>
<script>
    var load_comm = () => {
        const init = () => {
            console.log('Gitment loading...');
            const gitment = new Gitment(Object.assign({
                id: '<%- url_for(page.path) %>'
            }, JSON.parse('<%- JSON.stringify(theme.gitment) %>')));

            gitment.render('gitment-container');
        }
        if (typeof Gitment === 'undefined') {
            const src = '<%- url_npm_cdn("gitment", "dist/gitment.browser.js") %>';
            $.getScript(src, init);
        } else {
            init();
        }
    };
</script>
<noscript>Please enable JavaScript to view the <a href="https://github.com/imsun/gitment">comments powered by Gitment.</a></noscript>