<div id="lv-container" class="post-comments lazy-load<% if (theme.posts.comments?.enableBGImage) { %> bg-image<% } %>" data-id="<%- theme.livere.id || 'city' %>" data-uid="<%- theme.livere.uid %>"></div>
<% const url = full_url_for(page.path).replace(/\/index\.html$/, "/"); %>
<script>
    window.livereOptions = {
        refer: '<%- url.replace(/^[a-zA-Z]+?\:\/\//, "") %>',
        site: '<%- url %>',
        eagerLoading: true //主题会自己处理lazy load，没有必要让LiveRe的脚本再去做lazy load的处理
    };
    var load_comm = () => {
        if (typeof LivereTower === 'undefined') {
            var d = document, s = d.createElement('script');
            s.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            (d.head || d.body).appendChild(s);
        } else {
            window.LivereTower.init();
        }
    };
</script>
<noscript>Please enable JavaScript to view the <a href="https://livere.com/" rel="nofollow">comments powered by LiveRe.</a></noscript>