<div class="post-comments lazy-load<% if (theme.posts.comments?.enableBGImage) { %> bg-image<% } %>">
    <div id="tcomment"></div>
</div>
<script>
    var load_comm = () => {
        const init = () => {
            twikoo.init({ envId: '<%- theme.twikoo.env_id %>', el: '#tcomment' });
        }
        if (typeof twikoo === 'undefined') {
            const src = '<%- url_npm_cdn("twikoo", "dist/twikoo.all.min.js") %>';
            $.getScript(src, init);
        } else {
            init();
        }
    };
</script>
<noscript>Please enable JavaScript to view the <a href="https://twikoo.js.org/">comments powered by Twikoo.</a></noscript>