<div id="v-comments" class="post-comments"></div>
<script>
    new Valine({
        el: '#v-comments',
        appId: '<%- theme.valine.app_id %>',
        appKey: '<%- theme.valine.app_key %>',
        visitor: <%- theme.valine.visitor %>
    });
</script>